.review-item__img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 50%;
}

.review-item__name {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.review-item__score {
    color: var(--accent2);
}

.review-item__desc {
    color: var(--gray-dark);
}

.review .flex-item {
    width: 33.3%;
}

@media (max-width: 576px){
    .review .flex-item {
        width: 100%;
    }
}